.img-container {
  border-radius: 5px 5px 0px 0px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.txt-container {
  padding-top: 30px;
}

.card-title {
  width: 100%;
  margin-bottom: 30px;
  margin-left: 5%
}

.card-text {
  width: 100%;
  margin-left: 25% !important
}

.user-pic {
  border: solid 2px whitesmoke;
  width: 6em;
  height: 6em;
  margin: auto;
  border-radius: 50%;
}

.card {
  border-radius: 5px;
  width: 100%;
  height: 25em;
  margin-bottom: 20px;
}

.heading {
  margin-left: 10px;
  margin-bottom: 20px;
}

.error-content {
  margin-left: 30px;
}

.container {
  margin: auto;
  margin-bottom: 30px;
}

.low {
  background-color: rgb(100, 255, 100);
}

.medium {
  background-color: rgb(255, 211, 65);
}

.high {
  background-color: lightcoral;
}

.user-pic {
  width: 4em;
  height: 4em;
}

.placed {
  position: absolute;
  width: 100%;
}

.card-text {
  margin-left: 15%;
  width: 100%;
}

.location {
  height: 400px;
}

agm-map {
  margin: auto;
  margin-left: 12%;
  height: 250px;
  width: 400px;
  min-width: 300px;
  border-radius: 2px;
}

.start-chat {
  margin:auto;
}

.btn-info {
  margin-left: 40px;
}
