<div class="heading">
  <h2 style="display: inline;">Alert from: <h2 style="display: inline" *ngIf="haveAlert" >{{alert.createdBy.username}}</h2></h2>
</div>
<div class="row container">
  <div class="col-lg-6 col-md-6 col-sm-6 card-padding">
      <div class="card dashboard container">
        <!-- Card image -->
        <div class="row">

          <div class="txt-container d-flex justify-content-center">
              <!-- Card content -->
              <div class="">
              <!-- Title -->
              <h4 class="card-title"><a>Location:</a></h4>
            </div>
          </div>
        </div>
      </div>
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6 card-padding">
    <div class="card dashboard container">
      <!-- Card image -->
      <div class="row">

        <div class="txt-container d-flex justify-content-center">
            <!-- Card content -->
            <div class="">
            <!-- Title -->
            <h4 class="card-title"><a>Audio:</a></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 card-padding">
    <div class="card dashboard container">
      <!-- Card image -->
      <div class="row">

        <div class="txt-container d-flex justify-content-center">
            <!-- Card content -->
            <div class="">
            <!-- Title -->
            <h4 class="card-title"><a>Alert infromation:</a></h4>
            <p class="card-text">Contact: {{alert.createdBy.email}}</p>
            <p class="card-text">Aler Date: {{alert.date | date: 'dd-MM-yyyy'}}</p>
            <p class="card-text">Alert Hour: {{alert.date | date: 'hh:mm:ss a'}}</p>
            <mdb-range-input default="true" id="range" min="0" max="100"></mdb-range-input>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
