<div class="chat-container card">
  <div class="card-header">
    <div class="row">
      <div class="col-3">
          <img width="70" src="assets/bot.png" alt="">
      </div>
      <div class="col-9">
          <h3>  Clank</h3>
          <div class="description text-muted">The intelligent healthcare assistant</div>
      </div>
    </div>
  </div>
  <div class="card-body content" >
    <div class="card-body" *ngFor="let m of messages" @Fading>
      <div class="card" [ngClass]="{'bot': m.from.username !== userService.authUser.username, 'own': m.from.username === userService.authUser.username}">
        <p class="name text-muted"><i class="fas fa-comment-alt"></i> {{ m.from.username }}</p>
        <p class="msg"> {{ m.message }}</p>
        <p class="hour text-muted">{{ m.createdAt | date: 'hh:mm' }}</p>
      </div>
    </div>
  </div>
  <span>Made with love<font color="red">❤</font></span>
  <div class="card-footer text-muted">
    <div class="row">
      <div class="col-9">
        <input [(ngModel)]="message" placeholder="Ask something..." class="form-control" id="msg">
      </div>
      <div class="col-3">
        <button id="button" class="btn btn-outline btn-info mb-2" (click)="sendMessage()">Send</button>
      </div>
    </div>
  </div>
</div>

