/* You can add global styles to this file, and also import other style files */
.modal-backdrop {
    z-index: 0;
    user-select: none
}

body {
  padding-top: 5em;
}

button:focus {outline:0;color: #009688;}
