<div class="parallax">
  <h1 class="title" style="color: whitesmoke; font-weight: bold">Protect me</h1>
  <h4 class="description" style="color: white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
    eiusmod tempor incidunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquid ex ea commodi consequat. </h4>
</div>

<div class="container mt-4 pt-4 mb-4 pb-4">
  <div class="row">
    <div class="col-sm-12 col-md-4 col-log-4">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" src="assets/card-bg.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- Card content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Who are we?</h4>
          <!-- Text -->
          <p class="card-text">We are the ScrubMasters Team. Here you have our github organization.</p>
          <!-- Button -->
          <a href="https://github.com/ScrubMasters" class="btn btn-primary">Github</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-log-4">
      <div class="card">
        <!-- Card image -->
        <div class="view overlay">
          <img class="card-img-top" height="240" src="/assets/card-students.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
        <!-- ard content -->
        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Students</h4>
          <!-- Text -->
          <p class="card-text">Here, you can list all the students that are using Protect Me App!!!</p>
          <!-- Button -->
          <a href="/childrens" class="btn btn-primary">Students</a>
        </div>
      </div>
    </div>
    <div class="col-sm-12 col-md-4 col-log-4">
      <div class="card">
        <div class="view overlay">
          <img class="card-img-top"  height="240" src="/assets/card-alert.jpg" alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>

        <div class="card-body">
          <!-- Title -->
          <h4 class="card-title">Alerts</h4>
          <!-- Text -->
          <p class="card-text">If you want to help a student you can list all alerts and chat with him.</p>
          <!-- Button -->
          <a href="/alerts" class="btn btn-primary">Alerts</a>

        </div>

      </div>
    </div>
  </div>
</div>
